@import url('https://fonts.maateen.me/mukti/font.css');
/* font-family: 'Mukti', sans-serif; */

.top-nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    background: #fff;
}

.top-nav .btn {
    background: #dfdfdf;
    padding: 6px 7px;
}

.top-nav .logo-img img {
    height: 40px;
}

.top-nav .search-box {
    position: relative;
}

.top-nav .search-box img {
    position: absolute;
    right: 10px;
    top: 7px;
    background: #dfdfdf;
}

.top-nav .search-box .form-control {
    font-size: 14px;
    height: 40px;
    border: 0;
    border-bottom: 1px solid #dfdfdf9a;
    background: #dfdfdf;
}

/* Search Form Mobile Menu */

.search-for-mobile {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    background: #fff;
    z-index: 9999;
    transition: 0.4s;
}

.search-for-mobile .search-box {
    position: relative;
}

.search-for-mobile .search-box .form-control {
    font-size: 14px;
    height: 40px;
    border: 0;
    border-bottom: 1px solid #dfdfdf9a;
    background: #dfdfdf;
}

.search-for-mobile .search-box .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: #dfdfdf;
    border-left: 1px solid #fff;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
}

.search-for-mobile .close-btn {
    background: #dfdfdf;
    padding: 4px 8px;
    margin-top: 3px;
}

.break {
    height: 73px;
}

/* Side Menu */

.side-menu {
    position: fixed;
    top: 0;
    left: -100%;
    height: 100vh;
    width: 250px;
    background: #fff;
    overflow-y: auto;
    padding-top: 73px;
    z-index: 99;
    transition: 0.5s;
}

.menu-open {
    left: 0%;
}

.side-menu .category-link .btn {
    width: 100%;
    text-transform: capitalize;
    font-size: 14px;
    padding: 3px 6px;
    display: block;
    text-decoration: none;
    color: #555;
    transition: 0.3s;
    text-align: left;
    border: 0;
}

.side-menu .category-link .btn img {
    float: right;
    margin-top: 5px;
}

.side-menu .category-link .btn:hover {
    color: #000;
    border: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(90deg, rgba(255, 255, 255, 1) 0%, rgba(223, 223, 223, 1) 100%);
}

/* Home Page */

/* Banner */

.home .banner .overlay h2 {
    font-weight: 900;
    font-size: 25px;
    font-family: 'Mukti', sans-serif;
}

.home .banner .overlay h5 {
    font-size: 18px;
    line-height: 1.8rem;
    font-family: 'Mukti', sans-serif;
}

@media(max-width: 768px) {
    .home .banner .overlay {
        padding: 50px;
    }
}

@media(min-width: 768px) {
    .home .banner {
        position: relative;
    }
    .home .banner img {
        height: 250px;
    }
    .home .banner .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 30px 180px;
    }
}

@media(min-width: 992px) {
    .home .banner {
        position: relative;
    }
    .home .banner img {
        height: auto;
    }
    .home .banner .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 30px 250px;
    }
}

@media(min-width: 1140px) {
    .home .banner .overlay {
        padding: 60px 350px;
    }
    .home .banner .overlay h2 {
        font-weight: 900;
        font-size: 35px;
        font-family: 'Mukti', sans-serif;
    }
    .home .banner .overlay h5 {
        font-size: 18px;
        line-height: 1.8rem;
        font-family: 'Mukti', sans-serif;
    }
}

@media(min-width: 1280px) {
    .home .banner .overlay {
        padding: 80px 350px;
    }
}

@media(min-width: 1450px) {
    .home .banner .overlay {
        padding-top: 150px;
    }
}

/* Product Card */

.product-card {
    margin-bottom: 15px;
    position: relative;
    overflow: hidden;
}

.product-card .overlay {
    position: absolute;
    left: 0;
    width: 100%;
    top: -100%;
    background: rgba(0, 0, 0, 0.281);
}

.product-card:hover .overlay {
    top: 0;
    bottom: 35px;
}

.product-card .product-img {
    margin: auto;
}

.product-card p {
    font-size: 14px;
    color: #555;
}

.product-card .btn {
    color: #ed1c24;
    font-size: 13px;
    font-weight: 900;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: 0.3s;
    border-radius: 0px;
    border: 1px solid #dfdfdf9a;
}

.product-card .btn:hover {
    color: #fff;
    background: #ed1c24;
    border: 1px solid #ed1c24;
}

.product-card .overlay .btn {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #000;
    background: #fff;
}

.product-card .overlay .btn:hover {
    border: 1px solid #dfdfdf9a;
}

@media(max-width: 576px) {
    .product-column {
        padding-left: 3px;
        padding-right: 3px;
    }
    .product-card {
        height: 200px;
    }
    .product-card .product-img {
        max-height: 100px;
        max-width: 70px;
    }
}

@media(min-width: 576px) {
    .product-card {
        height: 290px;
        margin-bottom: 35px;
    }
    .product-card .product-img {
        max-height: 200px;
        max-width: 150px;
    }
}

@media(min-width: 1480px) {
    .product-card {
        height: 300px;
    }
}

/* End Product Card */

/* Auth */

.auth .card-header {
    padding: 30px 80px;
    background: #dfdfdf;
}

.auth .card-header h3 {
    font-weight: 600;
    color: #000;
}

.auth .card-body .form-control {
    font-size: 14px;
    height: 45px;
    border-radius: 3px;
}

.auth .card-body .btn {
    color: #000;
    height: 43px;
    border-radius: 3px;
    background: #dfdfdf;
    font-weight: 300;
}

.auth .card-body p {
    font-size: 14px;
}

.auth .card-body p a {
    color: #ed1c24;
}

/* Product Modal */

.home .product-modal {
    display: none;
    position: fixed;
    z-index: 9999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */

.home .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border-radius: 0px;
    width: 800px;
    position: relative;
}

.home .modal-content .close-btn {
    position: absolute;
    top: 0;
    right: 0;
}

.home .modal-content p {
    font-size: 14px;
    line-height: 1.8rem;
}

@media(max-width: 576px) {
    .home .modal-content {
        width: 93vw;
    }
}

@media(min-width: 576px) {
    .home .modal-content {
        width: 550px;
    }
}

@media(min-width: 768px) {
    .home .modal-content {
        width: 700px;
    }
}

@media(min-width: 992px) {
    .home .modal-content {
        width: 800px;
    }
}

/* Shopping Cart Start */

.shopping-cart table thead p {
    font-size: 13px;
}

.shopping-cart table tbody p {
    font-size: 13px;
}

.shopping-cart table tbody tr {
    border-bottom: 1px solid rgba(226, 228, 226, 0.609);
}

.shopping-cart table tbody tr td {
    padding-top: 15px;
    padding-bottom: 15px;
}

.shopping-cart table tbody tr td p {
    padding-top: 5px;
}

.shopping-cart table tbody .remove-item-btn {
    color: brown;
    padding: 2px 8px;
    border: 1px solid #dfdfdf;
}

.shopping-cart .checkout-btn {
    color: #ed1c24;
    font-weight: 900;
    border: 1px solid #dfdfdf;
}

.shopping-cart .checkout-btn:hover {
    color: #fff;
    background: #ed1c24;
    border: 1px solid #ed1c24;
}

/* End Shopping Cart */

/* Start Checkout */

.checkout .form-control {
    font-size: 14px;
}

.checkout .account-card {
    background: #dfdfdf69;
}

.checkout .account-card p {
    font-size: 14px;
}

.checkout .btn {
    font-weight: 900;
    background: #ed1c24;
    border: 1px solid #ed1c24;
}

/* End Checkout */