{% extends 'client/layout.html' %}
{% block content %}

<div class="home">

    <!-- Banner -->
    <div class="banner">
        <img src="/static/images/banner.jpg" class="img-fluid w-100 d-none d-md-block">
        <div class="overlay text-left text-lg-center">
            <!-- <h2 class="mb-4">Buy medicine at home in the fastest time</h2>
            <h5 class="mb-0">Across the country, including Dhaka, medicine will be delivered at the fastest time.</h5> -->
            <h2 class="mb-4">ঔষধ কিনুন ঘরে বসেই দ্রুততম সময়ে</h2>
            <h5>ঢাকাসহ সারাদেশে, ঔষধ ডেলিভার হবে দ্রুততম সময়ে।</h5>
        </div>
    </div>
    <!-- End Banner -->

    <!-- Products -->
    <div class="container py-3 py-md-5">
        <div class="row px-1 px-sm-0">

            {% for product in product %}
            <div class="col-6 col-md-4 col-lg-3 px-2 px-sm-3">
                <div class="card product-card border-0 text-center">
                    <img src="{{ product.product_images.url }}" class="product-img">
                    <p class="mb-0 text-capitalize">{{ product.name }}</p>
                    <p class="mb-2">Price : {{product.price}}tk.</p>
                    <button type="button" class="btn shadow-none btn-block" onclick="addToCart({id: '{{product.id}}', name: '{{product.name}}', price: '{{product.price}}', image: '{{product.product_images}}'})">Add
                        Cart</button>
                    <div class="overlay">
                        <button type="button" class="btn shadow-none btn-block"
                            onclick="openModal('{{ product.id }}')">Details</button>
                    </div>
                </div>
            </div>
            {% endfor %}


            <div class="col-12">
                {% if product.has_other_pages %}
                <ul class="pagination">
                    {% if product.has_previous %}
                    <li><a href="?page={{ product.previous_page_number }}">&laquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&laquo;</span></li>
                    {% endif %}
                    {% for i in product.paginator.page_range %}
                    {% if product.number == i %}
                    <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                    {% else %}
                    <li><a href="?page={{ i }}">{{ i }}</a></li>
                    {% endif %}
                    {% endfor %}
                    {% if product.has_next %}
                    <li><a href="?page={{ product.next_page_number }}">&raquo;</a></li>
                    {% else %}
                    <li class="disabled"><span>&raquo;</span></li>
                    {% endif %}
                </ul>
                {% endif %}
            </div>

        </div>
    </div>
    <!-- End Products -->

    <div class="product-modal" id="modal">
        <div class="modal-content">
            <div class="row">
                <button type="button" class="btn shadow-none close-btn" id="closeModal">
                    <img src="/static/icons/close_new.png" alt="">
                </button>
                <div class="col-12 col-sm-6 col-lg-5 mt-4 mt-sm-0">
                    <div id="image"></div>
                </div>
                <div class="col-12 col-sm-6 col-lg-7 pl-sm-2 pl-md-3 pl-lg-4 pt-3 pt-sm-0 mt-sm-4">
                    <h5 id="product-name" class="mb-3"></h5>
                    <p id="product-description" class="mb-3"></p>
                    <p id="product-price" class="mb-3"></p>
                    <button type="button" class="btn btn-block btn-danger rounded shadow-none text-white" onclick="addToCart({id: '{{product.id}}', name: '{{product.name}}', price: '{{product.price}}', image: '{{product.product_images}}'})"><b>Add to cart</b></button>
                </div>
            </div>
        </div>
    </div>

</div>

<script>

    // Modal Script
    var modal = document.getElementById("modal")
    function openModal(id) {
        $.ajax({
            type: 'GET',
            url: "product/" + id + "/view",
            success: function (data) {
                $("#product-name").html(data.name),
                    $("#product-price").html('Price: ' + data.price + ' Tk.'),
                    $("#product-description").html(data.description)
                $("#image").html('<img src="' + data.product_images + '" class="img-fluid" />')
            }
        })
        modal.style.display = "block";
        $("#modal-id").html(id)
    }

    $("#closeModal").click(function () {
        modal.style.display = "none";
    })

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    // End modal script

    // Add-cart Script
    var productArr = []
    function addToCart(product) {
        productArr.push(product)
        localStorage.setItem('products', JSON.stringify(productArr))
    }

    // End add-cart Script


</script>

{% endblock %}