<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="/static/css/client.style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/jquery.toast.min.css">

    <script src="/static/js/jquery-3.5.1.slim.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <title>Medicine Shop</title>
</head>

<body>

    <div class="top-nav p-3 border-bottom">
        <div class="d-flex">
            <div class="mr-2 mr-lg-5">
                <button type="button" class="btn rounded-circle shadow-none" id="menuToggle">
                    <img src="/static/icons/bar-black.png" class="img-fluid">
                </button>
            </div>

            <!-- Search Form -->
            <div class="flex-fill d-none d-sm-block">
                <form>
                    <div class="search-box">
                        <input type="text" class="form-control shadow-none w-100 "
                            placeholder="Search for medicine (e.g. Napa, Python, JS)">
                        <img src="/static/icons/search.png">
                    </div>
                </form>
            </div>

            <!-- mobile search trigger button -->
            <div class="ml-auto d-sm-none">
                <button type="button" class="btn shadow-none" id="openMibileSearch">
                    <img src="/static/icons/search.png">
                </button>
            </div>

            <div class="ml-2">
                <a href="/cart/" class="btn shadow-none" id="openCart">
                    <img src="/static/icons/cart.png" class="img-fluid">
                </a>
            </div>

            <div class="ml-2">
                <a href="/login" class="btn shadow-none">
                    <img src="/static/icons/user.png" class="img-fluid">
                </a>
            </div>

            <div class="ml-2">
                <a href="/" class="btn shadow-none">
                    <img src="/static/icons/home_black.png" class="img-fluid">
                </a>
            </div>

            <!-- Logo -->
            <div class="ml-2 mx-lg-5 logo-img">
                <a href="/">
                    <img src="/static/images/medi.jpg">
                </a>
            </div>
        </div>
    </div>
    <!-- Mobile Search -->
    <div class="search-for-mobile d-block d-sm-none p-3 border-bottom" id="mobile-search-box">
        <div class="d-flex">
            <div class="flex-fill">
                <form>
                    <div class="search-box">
                        <input type="text" class="form-control shadow-none w-100 "
                            placeholder="Search for medicine (e.g. Napa, Python, JS)">
                        <button type="submit" class="btn shadow-none search-btn">
                            <img src="/static/icons/search.png" class="img-fluid">
                        </button>
                    </div>
                </form>
            </div>
            <div>
                <button type="button" class="btn shadow-none rounded-circle close-btn ml-2" id="close-mobile-search">
                    <img src="/static/icons/close_small.png" class="img-fluid">
                </button>
            </div>
        </div>
    </div>
    <div class="break"></div>

    <!-- Side Menu -->
    <div class="side-menu border-right" id="sideMenu">
        <div class="title text-center p-3">
            <h6 class="mb-0 text-danger">Medicine category</h6>
        </div>
        <div class="category-link px-3 pb-3">
            <a href="" class="btn shadow-none">tablet <img src="/static/icons/forward-right.png"></a>
            <a href="" class="btn shadow-none">capsul <img src="/static/icons/forward-right.png"></a>
            <a href="" class="btn shadow-none">syrup <img src="/static/icons/forward-right.png"></a>
            <a href="" class="btn shadow-none">homeopathic <img src="/static/icons/forward-right.png"></a>
        </div>
    </div>

    {% block content %}
    {% endblock %}


    <script src="/static/js/jquery.toast.min.js"></script>
    <script>

        $('#menuToggle').click(function () {
            $("#sideMenu").toggleClass("menu-open");
        })
        $('#openMibileSearch').click(function () {
            $('#mobile-search-box').css('right', '0')
        })
        $('#close-mobile-search').click(function () {
            $('#mobile-search-box').css('right', '-100%')
        })

    </script>
</body>

</html>