{% extends 'admin/layout.html' %}
{% block content %}

<div class="container py-2 py-lg-5">
    <div class="row">
        <div class="col-12 col-lg-10 m-auto">
            <div class="card rounded-0">
                <div class="card-body">
                    <form id="productCreate">
                        
                        <!-- Name -->
                        <div class="form-group mb-4">
                            <small id="name">Product Name</small>
                            <input type="text" id="product-name" class="form-control rounded-0 shadow-none"
                                placeholder="Enter product name">
                        </div>

                        <!-- Price -->
                        <div class="form-group mb-4">
                            <small id="price">Product Price</small>
                            <input type="text" min="1" id="product-price" class="form-control rounded-0 shadow-none"
                                placeholder="Enter product price">
                        </div>

                        <!-- Description -->
                        <div class="form-group mb-4">
                            <small id="description">Product Description</small>
                            <textarea class="form-control rounded-0 shadow-none" id="product-description"
                                rows="6"></textarea>
                        </div>

                        <!-- Image -->
                        <div class="form-group mb-4">
                            <input type="file" name="file" id="file">
                        </div>

                        <button type="submit" class="btn btn-block rounded-0 shadow-none text-white btn-info">Add
                            Product</button>

                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        var productImage
        $("#file").change(function (e) {
            var myfile = e.target.files[0]
            productImage = myfile
        })

        $("#productCreate").submit(function (event) {
            event.preventDefault()
            var formData = new FormData()
            formData.append('name', $("#product-name").val())
            formData.append('price', $("#product-price").val())
            formData.append('product_images', productImage)
            formData.append('description', $("#product-description").val())

            $.ajax({
                method: 'post',
                processData: false,
                contentType: false,
                cache: false,
                data: formData,
                enctype: 'multipart/form-data',
                url: "/admin/product/",
                data: formData,
                success: function (response) {
                    $.toast({
                        allowToastClose: true,
                        bgColor: '#28a745',
                        position: 'top-right',
                        heading: 'Successfully',
                        text: "Product updated."
                    })
                },
                error: function (errors) {
                    if (errors) {
                        console.log(errors)
                    }

                    if (errors.status == 400) {
                        $("#name").html(errors.responseJSON.name).css("color", "red")
                        $("#price").html(errors.responseJSON.price).css("color", "red")
                        $("#description").html(errors.responseJSON.description).css("color", "red")
                    }

                }
            })
        })
    })
</script>


{% endblock %}