{% extends 'client/layout.html' %}
{% block content %}

<div class="auth pt-4 pt-md-5">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-8 col-lg-6 m-auto">
                <div class="card">
                    <div class="card-header text-center border-0">
                        <h3 class="mb-0">Register</h3>
                        <!-- {% if response %}
                        {{response.message}}
                        {% endif %} -->

                        <!-- {% if form.errors %}
                        {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %} -->
                        <!-- {% endif %} -->

                    </div>
                    <div class="card-body p-sm-4">
                        <form action="/register_form_submission/" method="post">
                            {% csrf_token %}
                            {{ form.as_p }}
                            <div class="form-group mb-4">
                                <small class="text-dark">Name</small>
                                <input type="text" name="name" class="form-control shadow-none"
                                    placeholder="Enter name">
                            </div>

                            <div class="form-group mb-4">
                                <small class="text-dark">E-mail</small>
                                <input type="text" name="email" class="form-control shadow-none"
                                    placeholder="Enter e-mail">
                            </div>

                            <div class="form-group mb-4">
                                <small class="text-dark">Password</small>
                                <input type="password" name="password" class="form-control shadow-none"
                                    placeholder="Enter password">
                            </div>

                            <input type="text" name="role" value="admin">

                            <button type="submit" class="btn btn-block shadow-none">Create Account</button>
                        </form>

                        <div class="py-4 text-right">
                            <p class="mb-2">Go to? <a href="/login">Login</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}